section.up{
    width: 100vw;
    height: 100vh;

    max-width: 1200px;
    @media screen and (max-width: 1200px){
        transform: translate(-50% -50%);
        top:50%;
        left:50%;
    };
    background-color: #efd592;

}

section.down{
    width: 100vw;
    height: 100vh;

    max-width: 1200px;
    @media screen and (max-width: 1200px){
        transform: translate(-50% -50%);
        top:50%;
        left:50%;
    };
    background-color: #4343f9;
}